.git

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

*/docker/.env
*/docker/.env-postgres

tests/browser/.flake8
tests/browser/.idea
tests/browser/.isort.cfg
tests/browser/whitelist.txt
