./directory_tests_shared/
allure-behave
beautifulsoup4
behave
datadiff
directory-api-client
directory-cms-client
directory-sso-api-client
docopt
notifications-python-client
pillow
requests
retrying
selenium
sigauth
termcolor
urllib3
xmltodict
