Scrapy
beautifulsoup4
behave
directory-api-client
directory-constants
directory-sso-api-client
docopt
jsonschema
langdetect
nodeenv
notifications-python-client
pdfminer2
pytest
requests
retrying
sigauth
termcolor
