-e git+https://git@github.com/uktrade/directory-api-client.git@v9.14.0#egg=directory-api-client
-e git+https://git@github.com/uktrade/directory-constants.git@v6.4.1#egg=directory-constants
-e git+https://git@github.com/uktrade/directory-signature-auth.git@v2.0.1#egg=sigauth
-e git+https://git@github.com/uktrade/directory-sso-api-client.git@v2.4.0#egg=directory-sso-api-client
behave
nodeenv
notifications-python-client
paver
requests==2.13.0
retrying
selenium
termcolor
urllib3
