-e ./directory_tests_shared/
Scrapy
allure-behave
beautifulsoup4
behave
directory-api-client
directory-constants
directory-sso-api-client
docopt
jsonschema
langdetect
notifications-python-client
pytest
requests
retrying
sigauth
termcolor
xmltodict
