-e ./directory_tests_shared/
Scrapy==2.6.2
allure-behave
beautifulsoup4
behave
directory-api-client
directory-constants
directory-sso-api-client
docopt
jsonschema
langdetect
notifications-python-client
pytest==6.2.5
requests
retrying
sigauth
termcolor
xmltodict
